* {
    padding: 0;
    margin: 0;
    border: 0;
    font-family: "Montserrat", sans-serif;
  }
  
  *, *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  :focus, :active {
    outline: none;
  }
  
  a:focus, a:active {
    outline: none;
  }
  
  nav, footer, header, aside {
    display: block;
  }
  
  html, body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
  }
  
  input, button, textarea {
    font-family: inherit;
  }
  
  input::-ms-clear {
    display: none;
  }
  
  button {
    cursor: pointer;
  }
  
  button::-moz-focus-inner {
    padding: 0;
    border: 0;
  }
  
  a, a:visited {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: none;
  }
  
  ul li {
    list-style: none;
  }
  
  img {
    vertical-align: top;
  }
  
  body {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .wrapper {
    max-width: 1920px;
    width: 100%;
  }

  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #E4DFF3;
  }
  .header__inner {
    max-width: 1290px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__str {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__logo--text {
    margin-left: 17px;
  }
  .header__logo--text h4 {
    color: #2D2E41;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    text-transform: uppercase;
  }
  .header__logo--text p {
    color: #2D2E41;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 15px;
  }
  .header__nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__nav ul li {
    margin-left: 35px;
  }
  .header__nav ul li a {
    color: #2D2E41;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
  }
  .header__btn {
    margin-left: 30px;
  }
  .header__btn button {
    padding: 8px 20px;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    border-radius: 100px;
    border: 1px solid var(--Brand-3, #D3D247);
    background: var(--Brand-3, #D3D247);
  }
  .header__btn .need-help {
    background: transparent;
    color: #2D2E41;
  }
  .header__btn a,
  .header__btn span {
    color: #2D2E41;
    text-align: right;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    margin-right: 5px;
  }
  .header__burger {
    display: none;
  }
  .burger-menu {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #fff;
    z-index: 30;
    display: none;
  }
  .burger-menu header {
    border-radius: 0px 0px 15px 15px;
    background: var(--Light-Gray, #F2F1FD);
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .burger-menu .header__logo--text h4 {
    color: #2D2E41;
  }
  .burger-menu .header__logo--text p {
    color: #2D2E41;
  }
  .header__close img {
    width: 40px;
  }
  .burger-menu__li {
    padding-top: 16px;
    padding-bottom: 16px;
    border-bottom: 1px solid #E4DFF3;
    padding-left: 20px;
    display: flex;
    align-items: center;
  }
  .burger-menu__li a {
    color: var(--Text, #2D2E41);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    margin-right: 10px;
  }
  .burger-menu__li a span {
    text-decoration-line: underline;
    color: #8289C3;
  }
  .burger-menu__li p {
    color: var(--Text, #2D2E41);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    margin-right: 5px;
  }
  .burger-menu__btns {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    position: absolute;
    bottom: 0;
    padding-bottom: 10px;
  }
  .burger-menu__btn button {
    color: var(--Text, #2D2E41);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    border-radius: 100px;
    border: 1px solid var(--Brand-3, #D3D247);
    padding: 9px 25px;
    background: #fff;
  }
  .modal-bg {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.5;
    z-index: 20;
  }
  .modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 517px;
    max-height: 565px;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    background: #FFF;
    padding-top: 70px;
    padding-bottom: 90px;
    padding-left: 53px;
    padding-right: 53px;
    z-index: 21;
    flex-direction: column;
  }
  .modal__close {
    position: absolute;
    top: -20px;
    right: -20px;
  }
  .modal__title {
    margin-bottom: 25px;
  }
  .modal__title h1 {
    color: var(--Text, #2D2E41);
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 50px;
  }
  .modal__btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
  }
  .modal__cart, .modal__qr {
    width: 172px;
    text-align: center;
    border-radius: 100px;
    border: 1px solid #9AA0D0;
    padding-top: 8px;
    padding-bottom: 8px;
    cursor: pointer;
  }
  .modal__cart.active , .modal__qr.active {
    background: #9AA0D0;
  }
  .modal__cart.active p , .modal__qr.active p {
    color: #fff;
  }
  .modal__cart p, .modal__qr p {
    color: #2D2E41;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
  }
  .modal__code {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .modal__code-img {
    width: 250px;
    height: 250px;
    border-radius: 21px;
    background: #E9E8F2;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
  }
  .modal__code-img .img {
    width: 100%;
  }
  .modal__code-img .img img {
    width: 100%;
  }
  .modal__code-text p {
    color: #2D2E41;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
  }
  .modal__btn {
    margin-top: 35px;
  }
  .modal__btn button {
    border-radius: 100px;
    background: var(--Brand-3, #D3D247);
    width: 100%;
    color: #FFF;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    padding-top: 17px;
    padding-bottom: 17px;
  }
  .modal__img img {
    width: 100%;
  }
.section1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.section1__social {
    position: fixed;
    right: 32px;
    top: 460px;
    transform: translate(0%, -50%);
    background: #9AA0D0;
    padding: 35px 25px;
    border-radius: 500px;
}
.section1__social--inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 25px;
}
.section1__social--inner .img {
  width: 100%;
}
.section1__social--inner .img img {
  width: 100%;
}
.section1__inner {
    max-width: 1330px;
    width: 100%;
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 150px;
}
.section2__inner {
    max-width: 890px;
    width: 100%;
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 150px;
}
.section2__inner .section1__title h1 {
    color: #2D2E41;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 35px;
}
.section2__img {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    border-radius: 30px;
    overflow: hidden;
}
.section2__img2 {
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
}
.section2__img2 .img {
  width: 40%;
  border-radius: 30px;
  overflow: hidden;
  max-height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section2__img2 .img img {
  width: 100%;
}
.section2__img img {
    max-width: 100%;
}
.section2__subtitle h4 {
    color: #2D2E41;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 50px;
    margin-bottom: 15px;
}
.section2__text {
    margin-bottom: 37px;
}
.section2__text p {
    color: #2D2E41;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 200%;
    margin-bottom: 15px;
}
.section2__foot {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.section2__back {
    display: flex;
    align-items: center;
}
.section2__back p {
    margin-left: 20px;
    color: #2D2E41;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
}
.section2__socials,
.section2__imgs {
    display: flex;
    align-items: center;
}
.section2__socials p {
    color: #2D2E41;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
}
.section2__social {
    margin-left: 10px;
    width: 50px;
    height: 50px;
}
.section2__social img {
    width: 100%;
}
.section1__nav p {
    color: #2D2E41;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
}
.section1__nav p a {
    color: var(--Gray, #A8A8A8);
}
.section1__nav p span.dot {
    color: var(--Brand-3, #D3D247);
    font-size: 20px;
    margin-left: 5px;
    margin-right: 5px;
}
.section1__title {
    margin-top: 30px;
    margin-bottom: 50px;
}
.section1__title h1 {
    color: #000;
    text-align: center;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 50px;
}
.section1__title img {
    display: none;
}
.section1__block {
    display: grid;
    grid-template-columns: repeat(3, 410px);
    grid-template-rows: repeat(1, 490px);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
}
.section1__card {
  cursor: pointer;
}
.section1__img {
  border-radius: 25px;
  overflow: hidden;
  max-height: 290px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.back {
  cursor: pointer;
}
.section1__desc {
    margin-top: 15px;
    width: 100%;
    height: 145px;
    border-radius: 25px;
    background: #F2F1FD;
    padding-top: 35px;
    padding-left: 30px;
    padding-right: 30px;
}
.section1__desc span {
    display: block;
    color: #A8A8A8;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
}
.section1__desc p {
    margin-top: 10px;
    color: #2D2E41;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
}
footer {
    padding-top: 319px;
    background: url(../../img/bg-footer.png) no-repeat;
    background-size: 100%;
}
.footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
  }
  .footer__inner {
    max-width: 1290px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 40px;
  }
  .footer__str {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__logo--text {
    margin-left: 17px;
  }
  .footer__logo--text h4 {
    color: var(--Text, #2D2E41);
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    text-transform: uppercase;
  }
  .footer__logo--text p {
    color: var(--Text, #2D2E41);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 15px;
  }
  .footer__nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__nav ul li {
    margin-left: 35px;
  }
  .footer__nav ul li a {
    color: var(--Text, #2D2E41);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
  }
  .footer__btn {
    margin-left: 30px;
  }
  .footer__btn button {
    padding: 8px 20px;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    border-radius: 100px;
    border: 1px solid var(--Brand-3, #D3D247);
    background: var(--Brand-3, #D3D247);
  }
  .footer__btn .need-help {
    background: transparent;
    color: var(--Text, #2D2E41);
  }
  .footer__btn a {
    color: var(--Text, #2D2E41);
    text-align: right;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
  }
  
  .copyright {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .copyright__inner {
    padding-top: 8px;
    padding-bottom: 11px;
    max-width: 1290px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .copyright__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .copyright__row p {
    color: var(--Text, #2D2E41);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
  }
  .copyright__row p.block {
    margin-right: 30px;
  }
  .copyright__row a {
    color: #8289C3;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    text-decoration-line: underline;
  }
.header__btn.tel-tg {
  display: flex;
  align-items: center;
}
.header__btn.tel-tg a {
  line-height: 22px;
}
.header__btn.tel-tg img {
  margin-right: 10px;
}
.footer__btn.tel-tg {
  display: flex;
  flex-direction: column;
}
.footer__btn.tel-tg .phone, .footer__btn.tel-tg .tg {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.footer__btn.tel-tg a {
  line-height: 22px;
}
.footer__btn a.mob {
  display: none;
}
.footer__btn.tel-tg img {
  margin-right: 10px;
}
.footer__btn span {
  color: var(--Text, #2D2E41);
  text-align: right;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  margin-right: 5px;
}
.foot-img {
  position: absolute;
  bottom: 20px;
  right: 20px;
}
.btn-social {
  display: none;
}
.btn-social .open img {
  width: 55px;
}
@media (max-width: 1600px) {
    footer {
        background-position-y: 100%;
    }
}
@media (max-width: 1460px) {
    .section1__social {
        top: 40%;
      }
}
@media (max-width: 1440px) {
  .footer {
    padding-left: 80px;
    padding-right: 80px;
}
}
@media (max-width: 1400px) {
    .section1__block {
        grid-template-columns: repeat(2, 410px);
        grid-template-rows: repeat(2, 490px);
        justify-content: center;
    }
}
@media (max-width: 1330px) {
  .header__nav ul li a {
    font-size: 13px;
    line-height: 20px;
}
.header__btn button {
    font-size: 13px;
    line-height: 20px;
}
.header__btn a,
.header__btn span {
    font-size: 13px;
    line-height: 20px;
}
.header__btn,
.header__nav ul li {
    margin-left: 15px;
}
.header__inner, .copyright__inner, .footer__inner {
    padding-left: 20px;
    padding-right: 20px;
}
.header__str .header__btn:nth-child(1) {
  margin-left: 0;
}
}
@media (max-width: 1300px) {
    .header__inner,
    .copyright__inner,
    .footer__inner {
        padding-left: 40px;
        padding-right: 40px;
    }
}
@media (max-width: 1230px) {
  .header__inner {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (max-width: 1145px) {
    .footer__nav ul {
        display: none;
    }
    footer {
        padding-top: 215px;
        background-size: 120%;
    }
}
@media (max-width: 1040px) {
  .copyright__row p.block {
    margin-right: 15px;
  }
  .copyright__inner {
    padding-left: 20px;
    padding-right: 20px;
  }
  .header__btn button {
    padding-left: 10px;
    padding-right: 10px;
  }
  .header__btn a, .header__btn span {
    margin-right: 0;
  }
}
@media (max-width: 970px) {
    .section1__social {
        display: none;
    }
    .header__nav {
      display: none;
    }
    .header__btn .need-help {
      display: none;
    }
    .header__btn a {
      display: none;
    }
    .header__burger {
      display: block;
    }
    .header__btn span {
      display: none;
  }
}
@media (max-width: 850px) {
    footer {
        background-size: 140%;
    }
    .section1__inner {
        padding-bottom: 30px;
    }
    .footer__btn .need-help {
        display: none;
    }
    .section1__block {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .section1__card {
        max-width: 410px;
    }
    .section2__inner .section1__title h1 br {
      display: none;
    }
}
@media (max-width: 800px) {
  .copyright__inner,
  .copyright__row {
    flex-direction: column;
    align-items: center;
  }
  .copyright__row p {
    margin-bottom: 15px;
    text-align: center;
  }
  .copyright__row p.block {
    margin-right: 0;
  }
  .footer {
    display: none;
}
}
@media (max-width: 600px) {
    .modal {
        max-width: 100%;
        max-height: 100%;
        border-radius: 0px;
        flex-direction: column;
        justify-content: center;
        padding-left: 30px;
        padding-right: 30px;
    }
    .modal__img img {
        width: 100%;
    }
    .modal__close {
        top: 20px;
        right: 20px;
    }
    .modal__close img {
        width: 40px;
        height: 40px;
    }
    .modal__title h1 {
        font-size: 30px;
    }
    .modal__btn button {
        font-size: 16px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .footer__logo {
        display: none;
    }
    .footer__inner {
        justify-content: center;
        padding-bottom: 15px;
    }
    .footer__str {
        flex-direction: column-reverse;
        align-items: center;
    }
    .footer__btn {
        margin-left: 0;
    }
    .footer__btn button {
        margin-top: 15px;
    }
    .copyright {
        border: none;
    }
    .copyright__inner {
        flex-direction: column;
        align-items: center;
        padding-bottom: 32px;
    }
    .copyright__row {
        flex-direction: column;
    }
    footer {
        background-size: 350%;
    }
    .section2__inner .section1__title h1 {
        font-size: 18px;
        line-height: 20px;
        text-align: left;
    }
    .section2__inner .section1__title {
        align-items: start;
    }
    .section2__inner .section1__title img {
        margin-top: 5px;
    }
    .section2__subtitle h4 {
        font-size: 22px;
        line-height: 24px;
    }
    .section2__text p {
        font-size: 16px;
        line-height: 160%;
    }
    .section2__foot {
        flex-direction: column;
    }
    .section2__back--img {
        width: 31px;
        height: 31px;
    }
    .section2__back--img img {
        width: 100%;
    }
    .section2__social {
        width: auto;
        height: auto;
    }
    .section2__back {
        margin-bottom: 30px;
        border-radius: 150px;
        background: #F2F1FD;
        padding: 10px 79px;
    }
    .section2__back p {
        margin-left: 10px;
        font-size: 16px;
    }
    .section2__socials {
        flex-direction: column;
    }
    .section2__socials p {
        font-size: 16px;
    }
    .section2__imgs {
        margin-top: 15px;
    }
    .section2__inner {
        padding-bottom: 0;
    }
}
@media (max-width: 540px) {
    .header__logo a img {
      width: 40px;
      height: 40px;
    }
    .header__logo--text p {
      display: none;
    }
    .header__logo--text h4 {
      font-size: 12px;
      line-height: 15px;
      max-width: 73px;
    }
    .header__logo--text {
      margin-left: 10px;
    }
    .header__btn {
      margin-left: 10px;
    }
    .header__btn button {
      font-size: 12px;
      padding: 8px 10px;
    }
    .header__inner {
        padding-left: 20px;
        padding-right: 20px;
    }
    .section1__inner {
        padding-top: 25px;
    }
    .section1__title {
        margin-top: 0;
        margin-bottom: 25px;
        display: flex;
        align-items: center;
    }
    .section1__title h1 {
        font-size: 18px;
        line-height: 22px;
        text-align: left;
        margin-left: 10px;
    }
    .section1__title img {
        display: block;
    }
    .section1__nav {
        display: none;
    }
    /* .section1__block {
        grid-template-rows: repeat(12, auto);
    } */
    .section1__desc {
        margin-top: 10px;
        height: auto;
        padding-top: 20px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 25px;
    }
    .section1__desc p,
    .section1__desc span {
        font-size: 16px;
    }
    .section1__desc p {
        margin-top: 3px;
    }
    .copyright {
      border: none;
    }
    .copyright__inner {
      padding-top: 50px;
      padding-bottom: 30px;
    }
    .copyright__row p.block a {
      display: block;
    }
    .copyright__row p {
      line-height: 22px;
    }
    footer {
      background-size: 460%;
    }
    .footer {
      display: flex;
      padding-left: 0;
    padding-right: 0;
    }
    .footer__inner {
      justify-content: center;
      padding: 0;
      padding-top: 40px;
    }
    .foot-img {
      left: 20px;
      bottom: -225px;
    }
    .footer__inner .footer__str:first-child {
      display: none;
    }
    .footer__str {
      flex-direction: column-reverse;
      align-items: center;
    }
    .footer__btn {
      margin-left: 0;
    }
    .footer__btn:last-child {
      margin-bottom: 15px;
    }
    .footer__btn.tel-tg .phone, .footer__btn.tel-tg .tg {
      justify-content: center;
    }
    .footer__btn a.mob {
      display: block;
  }
  .footer__btn a.desk {
    display: none;
  }
  .footer__btn a {
    text-align: center;
    font-size: 16px;
  }
  .btn-social {
    display: block;
    position: fixed;
    right: 20px;
    bottom: 22px;
    z-index: 19;
  }
  .btn-social .socials {
    position: absolute;
    bottom: 60px;
    right: 7px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5px;
    row-gap: 5px;
  }
  .btn-social .icon {
    width: 55px;
    position: absolute;
    bottom: 60px;
    left: 0px;
    display: none !important;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5px;
    row-gap: 5px;
  }
  .btn-social .icon img {
    width: 100%;
  }
  .btn-social .socials a {
    width: 40px;
    height: 40px;
  }
}
@media (max-width: 450px) {
    .section1__nav {
        display: none;
    }
    .section1__img img {
        max-width: 100%;
    }
    .section2__img {
      border-radius: 20px;
    }
    .section2__img2 {
      flex-direction: column;
      align-items: center;
    }
    .section2__img2 .img {
      width: 80%;
      max-height: 300px;
      margin-bottom: 20px;
    }
}
@media (max-width: 395px) {
  .modal__cart p, .modal__qr p {
    font-size: 14px;
  }
    footer {
        padding-top: 150px;
    }
}
@media (max-width: 380px) {
  .btn-social .open {
    bottom: 20px;
  }
}
@media (max-width: 353px) {
    .header__inner {
      padding-left: 10px;
      padding-right: 10px;
    }
    .header__btn button {
      font-size: 10px;
    }
    footer {
        padding-top: 100px;
    }
    .btn-social .icon {
      bottom: 235px;
    }
}